.btn{font-weight:normal!important;}
.hero-unit{background:url('../img/background.jpg');}

.invite-url{word-wrap: break-word;}

.floatfix{display:block;clear:both;}

/* Theme corrections */
.table{margin-bottom:0}
.table tbody tr.info>td{color:#555;background-color:#eaf4ff}
.btn-large{padding:15px 20px;}
.alert-danger, .alert-error{background:#B32020;}


/* Front page */
.jumbotron{background:url('../img/piggy-1366.jpg') no-repeat 0 -100px; height:600px; box-shadow:0 10px 10px -10px rgba(0,0,0,0.2)}
	.jumbotron h1{position:absolute;top:520px;left:540px;transform:rotate(2deg);}

@media (max-width: 480px) {
	h1 .pull-right{margin:10px 0;}
	.btn{white-space: nowrap}
	.login-buttons{text-align: center}
		.login-buttons .or{display:block;}

	/* Expenses */
	.page-actions{float:left; width:100%;}
} 

@media(max-width:979px){
	/* Theme corrections */
	h1{font-size: 35px}

	/* The current template doesn't appropriately color the menu links on mobile devices */
	.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {color:#fff;font-weight:normal}
	
	/* Expenses */
	table.expenses{width: 100%;font-size: 80%}
	table.expenses td.name, table.expenses td.actions{white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
	td.actions .btn{padding-left:6px;padding-right:6px}
}

/* Large desktop */
@media (min-width: 1366px) {
	/* Front page */
	.jumbotron{background:url('../img/piggy.jpg') no-repeat 0 -100px;}
		.jumbotron h1{left:820px;}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
	/* Front page */
	.jumbotron{background:url('../img/piggy-1024.jpg') no-repeat 0 -100px;}
		.jumbotron h1{left:365px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	/* Front page */
	.jumbotron{background:#007fff;margin-top:20px;padding:20px;height:auto;}
		.jumbotron h1{position:static;color:#fff;}
		.jumbotron p{color:#fff;}
}