.btn{font-weight:normal!important;}
.hero-unit{background:url('../img/background.jpg');}

.invite-url{word-wrap: break-word;}

/* Theme corrections */
.table tbody tr.info>td{color:#555;background-color:#eaf4ff}

@media (max-width: 480px) {
	h1 .pull-right{margin:10px 0;}
	.btn{white-space: nowrap}
} 

@media(max-width:979px){
	/* The current template doesn't appropriately color the menu links on mobile devices */
	.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {color:#fff;font-weight:normal}
}