.alert ul{margin-top:0;margin-bottom:0}

.dl-horizontal dt{text-align: left!important;width: 120px}
.dl-horizontal dd{margin-left: 130px}

.btn{font-weight:normal!important;}

.terminated a{text-decoration: line-through;}

.timepicker{width:50px;}
.datepicker{width:80px;}

/* Inline formsets */
.formset{padding:20px;background:#f5f5f5;position:relative;}
.formset,.extra-formset{margin-bottom:40px;margin-top:15px;border-radius:5px;}
.formset:nth-child(3n+1),.extra-formset:nth-child(3n+1){margin-left:0;}
.extra-formset{border:3px dashed #eee;text-align:center;padding:40px;}
.remove-formset{position:absolute;top:10px;right:15px;}