{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% load name_filters %}
{% block menu_bar_extras %}
	<form action="" class="navbar-form pull-right visible-desktop">
		<input type="search" name="q" placeholder="{% trans "Search in this group" %}" value="{{ request.GET.q }}">
		<button type="submit" class="btn"><i class="icon-search"></i></button>
	</form>
{% endblock menu_bar_extras %}
{% block page %}
	<h1 class="page-header">
		{{ group.name }}
		<div class="page-actions pull-right">
			<a class="btn btn-primary" href="{% url 'expense_create' group.pk %}">
				<i class="icon-white icon-plus"></i>
				<span class="visible-desktop">{% trans "Add an expense" %}</span>
				<span class="hidden-desktop">{% trans "Expense" %}</span>
			</a>
			<a class="btn" href="{% url 'refund_create' group.pk %}">
				<i class="icon-check"></i> <span class="visible-desktop">
				{% trans "Refund someone" %}</span>
				<span class="hidden-desktop">{% trans "Refund" %}</span>
			</a>
			<a class="btn" href="{% url 'invite_create' group.pk %}"><i class="icon-envelope"></i><span class="hidden-phone"> {% trans "Invite people" %}</span></a>
		</div>
	</h1>
	<div class="row">
		<div class="span6">
			<b class="floatfix hidden-phone">{% trans "In this group:" %}</b>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>{% trans "Name" %}</th>
						<th class="hidden-phone">{% trans "Spent" %}</th>
						<th>{% trans "Compared to you" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for line in users %}
						<tr>
							<td>
								{% if line.user.pk = request.user.pk %}
									{% trans "You" %}
								{% else %}
									{{ line.user.get_full_name }}
								{% endif %}
							</td>
							<td class="hidden-phone">{{ line.total|default:0|floatformat:2 }}$</td>
							<td>
								{% with line.relative_total|default:0 as relative_total %}
									{% if relative_total < 0 %}
										{% blocktrans with amount=relative_total|abs|floatformat:2 %}
											{{ amount }}$ behind
										{% endblocktrans %}
									{% elif line.user.pk == request.user.pk %}
										--
									{% elif relative_total == 0 %}
										Even
									{% else %}
										{% blocktrans with amount=relative_total|floatformat:2 %}
											{{ amount }}$ ahead
										{% endblocktrans %}
									{% endif %}
										    
								{% endwith %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	{% if expense_list %}
		<table class="full-width expenses table table-striped">
			<thead>
				<tr class="hidden-phone">
					<th>{% trans "Title" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Buyer" %}</th>
					<th>{% trans "Date" %}</th>
					<th>{% trans "Amount" %}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for expense in expense_list %}
					{% if expense.refund_from %}
						<tr class="refund info">
							<td>{{ expense.refund_from }}</td>
							<td class="hidden-phone">{{ expense.description }}</td>
							<td class="name"><span class="visible-desktop">{{ expense.user.get_full_name }}</span><span class="hidden-desktop">{{ expense.user.get_full_name|abbreviate }}</span></td>
							<td class="hidden-phone">{{ expense.date|date:"M d" }}</td>
							<td>{{ expense.amount|floatformat:2 }}$</td>
							<td class="actions">
								{% if group.users_can_edit or expense.user == request.user %}
									<div class="pull-right">
										<a class="btn btn-small" href="{% url 'refund_delete' group.pk expense.refund_from.pk %}"><i class="icon-remove"></i></a>
									</div>
								{% endif %}
							</td>
						</tr>
					{% elif expense.refund_to %}
						{# Nothing, as expected #}
					{% else %}
						<tr>
							<td>{{ expense.title }}</td>
							<td class="hidden-phone">{{ expense.description }}</td>
							<td class="name"><span class="visible-desktop">{{ expense.user.get_full_name }}</span><span class="hidden-desktop">{{ expense.user.get_full_name|abbreviate }}</span></td>
							<td class="hidden-phone">{{ expense.date|date:"M d" }}</td>
							<td>{{ expense.amount|floatformat:2 }}$</td>
							<td class="actions">
								<div class="pull-right">
									{% if group.users_can_edit or expense.user == request.user %}
										<a class="btn btn-small" href="{% url 'expense_update' group.pk expense.pk %}"><i class="icon-pencil"></i></a>
										<a class="btn btn-small" href="{% url 'expense_delete' group.pk expense.pk %}"><i class="icon-remove"></i></a>
									{% endif %}
								</div>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% include "pagination.html" %}
	{% else %}
		<p class="muted">{% trans "There are no expenses in this group." %} <a href="{% url 'expense_create' group.pk %}">{% trans "Add an expense" %}</a></p>
	{% endif %}
{% endblock page %}